@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Sanchez&display=swap');

 * {box-sizing: border-box;}

 
 body {
    margin: 0;
    background-color: rgb(31, 25, 41);
    font-family: 'Sanchez', serif;
  }
  .header-img {
    width: 100%;
  }
 header {
    background-position: center;
    height: 100vh;
    background-image: url('images/header.jpg');
    background-size: cover;
  }
  header h1 {
    margin: 0;
    padding: 100px 0 10px 0;
    color:rgb(31, 25, 41);
    font-family: 'Eater', cursive;
    font-size: 120px;
    text-align: center;
    vertical-align: center;
    line-height: 200px;
    margin-bottom: 0%;
  }

  p {
    padding: 0%;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 20px;

  }

  .home-page h2 {
    width: 100%;
    margin: 80px auto 20px auto;
  }
  .home-page .subnav img {
    width: 100%;
  }

  .home-page .subnav{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }

  .home-page .subnav a{
    flex: 50%;
    border: 5px solid rgb(105, 87, 101);
  }

  .home-page .subnav a:hover{
    border: 5px solid rgb(97, 51, 87);
    filter: grayscale(0.92) saturate(0) sepia(0.14);

  }

  nav {
    position: fixed;
    width: 100vw;
    background-color: rgb(31, 25, 41);
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  nav li {
    text-align: center;
    width: 100%;
    background-color: rgb(49, 39, 58);
    padding: 5px;
    opacity: 30%;
  }
  nav a {
    color: rgb(249, 248, 250);
    text-decoration: none;
  }
  nav li:hover  {
    background-color: rgb(31, 25, 41);
  }
    
h3 {
text-align: center;
font-family: 'Eater', cursive;
font-size: 30px;
color:rgb(105, 87, 101);
font-weight:lighter;
}

.subpage .parent{
  display: flex;
}

.page-image-left{
  padding-left: 50px;
}

.main-info-text-right{
  border: right;
  border-right: 1px solid white;
  vertical-align: top;
  text-align: left;
}
.main-info-text-right p{
  text-align: left;
padding-top: 150px;
}

.personality-type{
  color: #554c4c;
  text-align: left;
  font-family: 'Eater', cursive;
  font-size: 28px;
  padding-left: 140px;
  margin-top: -80px;

}

.about-them-text {
  color: white;
  font-size: 20px;
  font-family: 'Sanchez', serif;
  line-height: 1.4;
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}

#hr
{
  background-color:#554c4c;
  color:#554c4c dotted;
  -webkit-transform:rotate(90deg);
  position:absolute;
  width:500px;
  height:2px;
  left:130px;
  border:2px;
  margin-top:320px;
  margin-left: 100px;
}

.they-once-said-quote{
  color: rgb(105, 87, 101);
  font-size: 20px;
  margin-left: 60px;
}

.they-once-said-quote-title{
  font-size: 30px;
}

.wednesday{
  width: 400px;
  height: auto;
  padding: 50px;
}

.tyler{
  width: 400px;
  height: auto;
  padding: 50px;
}

.xavier{
  width: 400px;
  height: auto;
  padding: 50px;
}
.enid{
  width: 400px;
  height: auto;
  padding: 50px;
}

.homepage-wednesday-image{
  width: 100px;
  height: auto;
  padding-right: 200px;
}



