 body {
    margin: 0;
    background-color: rgb(31, 25, 41);
  }
  .header-img {
    width: 100%;
  }
 header {
    background-position: center;
    height: 100vh;
    background-image: url('images/header.jpg');
    background-size: cover;
  }
  header h1 {
    margin: 0;
    padding: 40px;
    color:rgb(31, 25, 41);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    vertical-align: center;
    line-height: 200px;
    margin-bottom: 0%;
  }

  p {
    padding: 0%;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 20px;

  }

  .home-page h2 {
    width: 100%;
    margin: 80px auto 20px auto;
  }
  nav {
    position: fixed;
    width: 100vw;
    background-color: rgb(31, 25, 41);
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  nav li {
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    opacity: 30%;
  }
  nav a {
    color: rgb(31, 25, 41);
    text-decoration: none;
  }
  nav li:hover {
    background-color: rgba(31, 25, 41);
  }
    
h3 {
text-align: center;
font-family: sans-serif;
font-size: 25px;
color:rgb(105, 87, 101);
font-weight:lighter;
}

.page-image-left{
  padding-left: 50px;
}

.main-info-text-right{
  border: right;

}

.personality-type{
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  padding-left: 100px;
  margin-top: -30px;

}

.about-them-text p{
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 40px;
  margin-left: 100px;
  text-align: left;
}

.they-once-said-quote{
  color: rgb(105, 87, 101);
  font-size: 20px;
  margin-left: 60px;
}

.they-once-said-quote-title{
  font-size: 30px;
}

.wednesday{
  width: 400px;
  height: auto;
  padding: 50px;
}

.tyler{
  width: 400px;
  height: auto;
  padding: 50px;
}

.xavier{
  width: 400px;
  height: auto;
  padding: 50px;
}
.enid{
  width: 400px;
  height: auto;
  padding: 50px;
}

.homepage-wednesday-image{
  width: 100px;
  height: auto;
  padding-right: 200px;
}


