@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    background-color: rgb(233, 231, 233);
}

nav {
    list-style-type: none;
    font-family: 'Antic', sans-serif;
    font-size: medium;
}

nav li {
	display: inline;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    float: right;
    margin-top: 0px;
    margin-right: 90px;
    font-weight: 500px;
    font-size: 30px;
  }

  h1 {
    text-align: center;
    font-size: 300px;
    font-family:'Black Han Sans', sans-serif;
    margin-top: -10px;
    color:rgb(153, 25, 32);
  }

  h2 {
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(153, 25, 32);
    font-size:100px;
    margin-left: 30px; 
    margin-top: -50px;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  p {
    text-align: center;
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 30px;
    margin: 10px;
  }

hr.line{
  border-top: 0.5px solid rgb(0, 0, 0);
  margin-top: -10px;
}

.homepage-sticky {
  background-color: rgb(252, 243, 236);
  height: 115vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
}

section {
 display: block;
}

.about-sticky {
  background-color: rgb(255, 235, 215);
  height: 115vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
}

.onlinecatalog-sticky {
  background-color: rgb(255, 233, 204);
  height: 115vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
}

.contact-sticky {
  background-color: rgb(255, 230, 195);
  height: 115vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
}

html {
  height: 100%;
  width: 100%;
}

.splashpage {
    background:rgb(153, 25, 32);
    height:100dvh;
    width:100%;
}


.arrow{
  color: rgb(255, 255, 255);
  margin-top: -180px;
  margin-left: 4px;
  text-align: center;
}
.record {
    
    transition: 2s 2s; /* firest value is delay, second is animation */
}

.splashpage p{
  text-align: center;
  font-family: 'Antic', sans-serif;
  color: rgb(252, 243, 236);
}

.photo{
  display: block;
  margin-left: 50px;
}

.main-text-left p{
  text-align: left;
  margin-left: 130px;
  font-size: 30px;
  margin-top: 25px;
}

.map-right{
  margin-left: 950px;
  margin-top: -430px;
}



