@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    background-color: rgb(233, 231, 233);
}

nav {
    list-style-type: none;
    font-family: 'Antic', sans-serif;
    font-size: medium;
}

nav li {
	display: inline;
}

nav a {
    color: rgb(103, 53, 0);
    text-decoration: none;
    float: right;
    margin-top: 20px;
    margin-right: 90px;
    font-weight: 500px;
    font-size: 30px;
  }

  h1 {
    text-align: center;
    font-size: 300px;
    font-family:'Black Han Sans', sans-serif;
    margin-top: 10px;
    color:rgb(237, 27, 36);
  }

  h2 {
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(237, 27, 36);
    font-size:100px;
    margin-left: 30px; 
    margin-top: -100px;
  }

  p {
    text-align: center;
    margin-top: 100px;
    font-family: 'Antic', sans-serif;
    color: black;
    font-size: 25px;
  }

hr.line{
  border-top: 0.5px solid rgb(103, 53, 0);
  margin-top: -10px;
}

section:nth-child(1) {
  background-color: rgb(252, 243, 236);
}

section {
  height: 130vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
  position: sticky;
  top: -1px;
}
section:nth-child(2) {
  background-color: rgb(255, 235, 215);
}

section:nth-child(3) {
  background-color: rgb(255, 233, 204);
}

section:nth-child(4) {
  background-color: rgb(255, 230, 195);
}

html {
  height: 100%;
  width: 100%;
}
.splashpage {
    background:rgb(237, 27, 36);
    height:100dvh;
    width:100%;
}
.record {
    
    transition: 2s 2s; /* firest value is delay, second is animation */
}



